@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';


.hero{
    //General properties
    margin-top: rem(80);
    margin-bottom: rem(30);
    padding-left: rem(60);
    padding-right: rem(60);
    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(25);
    @include mediaTablet(){
        //General properties
        height: 90vh;
        padding-left: rem(30);
        padding-right: rem(0);
        margin-top: rem(60);
        margin-bottom: rem(0);
        //Display
        flex-direction: row-reverse;
        gap: rem(100);
    }
    @include mediaTablet(){
        gap: rem(200);
    }
    &__info{
        margin-top: rem(90);
        //Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(30);
        @include mediaTablet(){
            //General properties
            width: rem(400);
            margin-top: rem(0);
        }
        &--title{
            //General properties
            font-size: rem(34);
            font-weight: 800;
            @include mediaTablet(){
                font-size: rem(34);
            }
        }
        &--subtitle{
            //General properties
            font-size: rem(14);
            font-weight: 400;
        }
        &--text{
            //General properties
            list-style: none;
            font-size: rem(14);
            //Display
            display: flex;
            flex-direction: column;
            gap: rem(10);
            @include mediaTablet(){
                //General properties
                font-size: rem(12);
                //Display
                gap: rem(0);
            }
        }
        &--load{
            //General properties
            cursor: pointer;
            font-size: rem(13);
            font-weight: 700;
            color: $color-dark;
            text-align:center;
            text-decoration: none;
            padding: rem(5) rem(0) rem(5) rem(0);
            //Display
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:hover{
                //General properties
                color: $color-grey-dark;
            }
        }     
            &--icon{
                //General properties
                cursor: pointer;
                list-style: none;
                font-size: rem(15);
                padding: rem(5);
                //Display
                display: flex;
                gap: rem(20);
                &--link{
                    //General properties
                    color: $color-dark;
                    &:hover{
                        //General properties
                        color: $color-grey-dark;
                    }
                }     
                @include mediaTablet(){
                    //General properties
                    font-size: rem(15);
                }
            }
    }
    &__img{
        @include mediaTablet(){
            //General properties
            width: rem(260);
            height: rem(260);
            background-image: url('../images/ana-bollain.jpg');
            background-position: top center;
            background-size: cover;
            opacity: 85%;
        }
        @include mediaTablet(){
            //General properties
            width: 40%;
            height: 70%;
        }
    }
}