@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.main__contact{
    //Display
    display: flex;
    justify-content: center;
}
.contact{
    //General properties
    width: rem(480);
    margin-top: rem(30);
    //Display
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    &__text{
        //General properties
        font-size: rem(14);
    }
    &__req{
        //General properties
        font-size: rem(12);
        margin-bottom: rem(15);
        &--ast{
            color: $color-grey;
        }
    }
}

.form{
    //General properties
    width: rem(480);
    //Display
    display: flex;
    flex-direction: column;
    gap: rem(15);
    &__contact{
        //Display
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-content: space-between;
        &--label{
            //General properties
            font-size: rem(13);
        }
        &--input{ 
            //General properties
            width: rem(370);
            padding: rem(5) rem(10) rem(5) rem(5);
            border-radius: rem(5);
            border: 1px solid $color-grey;
            //Display
            justify-self: flex-end;
        }
        &--comment{
            //General properties
            width: rem(370);
            font-family: $font-familyOpenSans;
            padding: rem(5) rem(10) rem(5) rem(5);
            border-radius: rem(5);
            border: 1px solid $color-grey;
            resize: none;
            overflow: hidden;
            //Display
            justify-self: flex-end;
        }
        &--btn{
            //General properties
            cursor: pointer;
            width: rem(100);
            height: rem(25);
            background-color: $color-dark;
            border: none;
            color: $color-light;
            //Display
            align-self: flex-end;
            border-radius: rem(5);
            &:hover{
                //General properties
                background-color: $color-extra;
            }
        }
        &--msg{
            //General properties
            font-size: 11px;
            transform: translateY(258px);
            position: absolute;
        }
    }
}