@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.filter{
    //General properties
    height: rem(30);
    position: relative;
    &__check{
        appearance: none;
        position: absolute;
    }
    &__label{
        //General properties
        cursor: pointer;
        font-size: rem(11);
        text-transform: uppercase;
        text-align:center;
        width: rem(80);
        height: rem(25);
        border: 1px solid $color-dark;
        background: $color-light;
        border-radius: rem(2); 
        //Display
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            //General properties
            background-color: $color-dark;
            color: $color-light;
        }
    }
}

.checked{
    //General properties
    background-color: $color-dark;
    color: $color-light;
}