@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.filter{
    //General properties
    height: rem(30);
    position: relative;
    &__check{
        //General properties
        appearance: none;
        -webkit-appearance: none;
        //Position
        position: absolute;
    }
    &__label{
        //General properties
        cursor: pointer;
        font-size: rem(13);
        color: $color-grey-dark;
        //text-transform: uppercase;
        text-align:center;
        //width: rem(100);
        //height: rem(30);
        //border: 1px solid $color-grey-dark;
        background: $color-light;
        //border-radius: rem(20);
        //Display
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            //General properties
            //background-color: $color-dark;
            //color: $color-light;
            border-bottom: 1px solid $color-dark;
        }
        @include mediaTablet(){
            //General properties
            font-size: rem(14);
        }
    }
}

.checked{
    //General properties
    //background-color: $color-dark;
    //color: $color-light;
    color: $color-dark;
    border-bottom: 1px solid $color-dark;
}