@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';


.header{
    //General properties
    padding-top: rem(30);
    //Display
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: rem(15);
    &__hero{
        //General properties
        text-decoration: none;
        //Display
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(10);
        &--img{
            //General properties
            width: rem(120);
            height: rem(120);
            border-radius: 50%;
            background-image: url('../images/avatar.png');
            background-color: $color-grey;
            background-position: center center;
            background-size: cover;
            opacity: 80%;
            @include mediaTablet(){
                //General properties
                width: rem(140);
                height: rem(140);  
            } 
        }
        &--title{
            //General properties
            font-size: rem(16);
            padding-top: rem(10);
            @include mediaTablet(){
                font-size: rem(17); 
            } 
        }
        &--subtitle{
            //General properties
            font-size: rem(10);
            @include mediaTablet(){
                //General properties
                font-size: rem(11); 
            } 
        }
    }
    &__nav{
        //General properties
        margin-top: rem(20);
        @include mediaTablet(){
            //General properties
            margin-top: rem(30);
        } 
        &--list{
            //General properties
            list-style: none;
            font-size: rem(18);
            gap: rem(10);
            //Display
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mediaTablet(){
                //General properties
                font-size: rem(22);
                //Display
                flex-direction: row;
                transform: translate(rem(-25));
                gap: rem(180);
                
            } 
            @include mediaDesktop(){
                //General properties
                font-size: rem(24);
                //Display
                flex-direction: row;
                transform: translate(rem(-25));
                gap: rem(280);
                
            } 
            &--item{
                //General properties
                text-decoration: none;
                text-transform: lowercase;
                color: $color-grey;
            }
        }
    }
}

.active{
    color: $color-dark;
}