@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';
@import '../styles/core/mixins';

.header{
    //General properties
    height: 10vh;
    width: 100vw;
    background-color: white;
    z-index: 60;
    //Display
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: rem(15);
    padding-left: rem(15);
    //Position
    position: fixed;
    top: 0;
    @include mediaTablet(){
        //General properties
        padding-right: rem(50);
        padding-left: rem(50);
    } 
    &__title{
            //General properties
            @include linkReset ();
            font-size: rem(20);
            @include mediaTablet(){
                //General properties
                font-size: rem(26); 
            } 
        }
    &__icon{
        //General properties
        cursor: pointer;
        padding: rem(5);
        @include mediaTablet(){
            //Display
            display: none;
        } 
    }
    &__nav{
        //General properties
        cursor: pointer;
        width: 100%;
        height: 90vh;
        background-color: white;
        padding-top: rem(60);
        //Position
        position: absolute;
        top: 10vh;
        right: 0;
        z-index: 50;
        //Display
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include mediaTablet(){
            //General properties
            width: fit-content;
            height: 10vh;
            padding-top: rem(0);
            //Position
            top: 4vh;
            right: rem(50);
        } 
        &--list{
            //General properties
            list-style: none;
            font-size: rem(16);
            gap: rem(40);
            //Display
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mediaTablet(){
                //General properties
                font-size: rem(22);
                //Display
                flex-direction: row;  
            } 
            @include mediaDesktop(){
                //General properties
                font-size: rem(16);
                //Display
                flex-direction: row;
            } 
            &--item{
                //General properties
                text-decoration: none;
                color: $color-grey-dark;
                font-size: rem(16);
            }
        }
    }
}

.active{
    //General properties
    color: $color-dark;
    padding-bottom: rem(3);
    border-bottom: 1px solid $color-dark;
}

.header__title.active{
    //General properties
    border: none;
}

.js-hidden{
    //Display
    display: none;
    @include mediaTablet(){
        //Display
        display: block;
    } 
}