@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.works{
    &__list{
        &--item{
            //General properties
            width: rem(250);
            height: rem(380);
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            //Position
            position: relative;
            @include mediaTablet(){
                //General properties
                //width: rem(310);
                //height: rem(280);
            }
            &:hover{
                opacity: 80%;
            }
            &--link{
                //General properties
                text-decoration: none;
                color: black;
            }
            &--art{
                //Display
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: rem(10);
            }
            &--img{
                //General properties
                width: 100%;
                height: rem(250);
                margin-bottom: rem(15);
                object-fit: cover;
                object-position: center;
                opacity: 90%;
                @include mediaTablet(){
                    //height: rem(200);
                }
            }
            &--title{
                //General properties
                font-size: rem(14);
                text-transform: capitalize;
                margin-bottom: rem(5);
            }
            &--desc{
                //General properties
                list-style: none;
                //Display
                display: flex;
                flex-direction: column;
                gap: rem(8);
            }
            &--text{
                font-size: rem(10);
                width: rem(250);
                text-align: center;
                @include mediaTablet(){
                    width: 100%;
                }
            }
            &--nav{
                //General properties
                list-style: none;
                font-size: rem(16);
                width: rem(60);
                height: rem(30);
                background-color: white;
                border-bottom-right-radius: 10px;
                padding: rem(5);
                //Display
                display: flex;
                justify-content: center;
                align-items: center;
                gap: rem(15);
                //Position
                position: absolute;
                top: rem(0);
                left: rem(0);
            }
        }
    }
}

.works__nav{
    //General properties
    text-decoration: none;
    color: $color-grey-dark;
    //Display
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: $color-dark;
    }
}