@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.works{
    //General properties
    margin-top: rem(70);
    padding-left: rem(30);
    padding-right: rem(30);
    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mediaTablet(){
        //General properties
        margin-top: rem(0);
        padding-left: rem(80);
        padding-right: rem(80);
    } 
    &__list{
        //General properties
        list-style: none;
        margin-bottom: rem(60);
        //Display
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem(30);
    }
}

