@import '../styles/core/functions';
@import '../styles/core/variables';
@import '../styles/core/mediaqueries';

.main__skills{
    //General properties
    width: 100%;
    margin-top: rem(60);
    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //Position
    position: relative;
    @include mediaTablet(){
        //General properties
        height: 90vh;
        margin-top: rem(0);
        //Display
        flex-direction: row;
    }
    &--back{
        //General properties
        width: 100%;
        height: 100%;
        //background: url('../images/back02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 30%;
        //Position
        position: absolute;
        z-index: -5;
    }
}

.skills{
    //General properties
    text-align: center;
    margin-top: rem(30);
    padding: rem(30) rem(60) rem(80) rem(60);
    //Display
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(100);
    @include mediaTablet(){
        //General properties
        text-align: start;
        width: fit-content;
        height: 90vh;
        padding: rem(150) rem(0) rem(0) rem(0);
        margin: rem(0);
        //Display
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;  
        gap: rem(200);
    }
    &__title{
        //General properties
        font-size: rem(22);
        //border-bottom: 2px solid $color-dark;
        //padding-bottom: rem(3);
        margin-bottom: rem(40);
        @include mediaTablet(){
            font-size: rem(28);
            margin-bottom: rem(60);
        }
    }
    &__list{
        //General properties
        list-style: none;
        //Display
        display: flex;
        flex-direction: column;
        gap: rem(20);
        @include mediaTablet(){
            //General properties
            font-size: rem(16);
        }
        &--soft{
            //General properties
            font-size: rem(15);
            @include mediaTablet(){
                //Display
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &--icon{
                //General properties
                width: rem(25);
                padding-bottom: rem(15);
                margin: 0 auto;
                @include mediaTablet(){
                    //General properties
                    padding: rem(0);
                    width: rem(40);
                    margin: 0 0;
                }
            }
        }
        &--item{
            //General properties
            font-size: rem(15);
            &--bold{
                //General properties
                font-weight: 600;
            }
        }
    }
}